.ant-layout { 
  display: flex; 
  flex-grow:1;
  gap: 72px;  
  width: 424px;
  margin: 0 auto;
  padding: 0 48px 0 48px;
  background-color: var(--background-color);
  .ant-layout-header {   
    padding-top: 48px;
    height: 120px;
    background-color: var(--background-color);
    .ant-space-compact {
      @include flex($ai: flex-start);
    }
    h2.ant-typography {
      margin: 0;
      font-family: var(--font-family);
      @include font(700, 36px, 1.5);
      color: var(--text-color);
    }
    div.ant-typography {
      margin: 0;
    }
    div.ant-typography p {
      margin: 0;
      font-family: var(--font-family);
      @include font(600, 16px, 1.55);
      color: var(--button-color);
    }
  }
  .ant-layout-content {     
    color: var(--text-color); 
  }
}

.ant-layout.wide {
  display: flex;
  gap: 109px;  
  width: 1440px;
  padding: 0px 60px 0 60px;
  .ant-layout-header {
    margin: 0;
    padding-top: 60px;
    height: 169px;    
  }
  .ant-layout-content {
    @include flex($jc: flex-start);    
    min-height: 680px;    
    flex-direction: column;
    background-image: url(../../images/homePageImage.png);
    background-repeat: no-repeat;     
    background-size: 341px, 288px; 
    background-position-x: center;
    background-position-y: 340px;    
    h1.ant-typography {
      position: relative;
      font-family: var(--font-family);
      @include font(700, 48px, 1.5);
      text-transform: uppercase;
      color: var(--text-color);
      .anticon {
        position: absolute;
        transform: translate(-53%, -63%);
      }
    }
    div.ant-typography {
      margin-bottom: 48px;
      p {
        margin: 0;
        width: 466px;
        font-family: var(--font-family);
        @include font(600, 16px, 1.55);
        text-align: center;
        color: var(--text-color);
      }
    }
    .ant-btn {
      display: block;
      margin-bottom: 72px;
      padding: 6px 16px;
      width: 99px;
      height: 44px;
      background-color: var(--button-color);
      box-shadow: var(--box-shadow);
      font-family: var(--font-family);
      @include font(600, 16px, 1.55);
      color: var(--text-color);
      border: none;
      border-radius: 0;
      transform: scale(1);
      transition: transform 250ms ease-out, background-color 250ms ease-out;
      &:hover,
      &:focus-visible {
        background-color: var(--button-color);
        transform: scale(1.03);
      }
    }   
  }
}
