h1.ant-typography {
  margin: 0 0 48px 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.ant-layout-content .ant-space {
  display: flex;
  justify-content: center;
  align-items: center;
  div.ant-typography {
    margin: 0;
    p {
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.55;
      color: #f1f2f1;
    }
  }
  .ant-btn{
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #7FAAF0;
  }
}
