.ant-form {
  margin-bottom: 24px;
  .ant-form-item-label {
    padding: 0 0 5px;
    label {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.55;
      color: #ffffff;
      text-transform: capitalize;
    }
  }
  .ant-form-item-control-input-content {
    :autofill,
    :autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
    }
    .ant-input {
      padding-left: 0;
      width: 328px;
      border-top: none;
      border-left: none;
      border-right: none;   
      border-radius: 0;
      background-color: #1d283a;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.55;
      color: #ffffff;
      opacity: 0.7;
    }
  }
  .ant-form-item {
    margin: 0 0 10px 0;
  }
  .ant-space {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      margin: 0 0 10px 0;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.55;
      color: rgb(226, 122, 122);
    }
  }
  .ant-input-password {
    padding-left: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    background-color: #1d283a;
    opacity: 0.7;
    :autofill,
    :autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
    }
    svg {
      fill: #ffffff;
    }
  }
  .ant-btn {
    margin-top: 12px;
    width: 100%;
    height: 44px;
    background-color: #539713;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.55;
    color: #ffffff;
  }
}
